* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.navigation {
    background-color: #18324FFF;
    height: 7rem;
    display: flex;
    /*justify-content: left;*/
    align-items: center;
    padding: 1rem 3rem;
    justify-content: space-between;
}

.navi-links {
    display: flex;
    gap: 2rem;
}
.navi-links a{
    color: #ffffff;
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.navi-links a:hover {
    /*color: #bdbec5;*/
    border-bottom: 2px solid #ffffff;
}

.logo {
    width: 6rem;
    height: 6rem;
}

.banner {
    width: 100%;
    height: auto;
}

